@import "tailwindcss";

/* COLORS */
@theme {
  --color-primary: #FFFF00;
  --color-secondary: #A31DB2;
}

/* UTILITIES */
@utility text-primary {
  color: var(--color-primary);
}

@utility bg-primary {
  background-color: var(--color-primary);
}

@utility text-secondary {
  color: var(--color-secondary);
}

@utility bg-secondary {
  background-color: var(--color-secondary);
}

/* CONTAINER */
@utility container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
